{% include("public/header.html") %}


<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m">编辑支付</div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form method="post" action="/admin/payway/doupdate">
		<input type="hidden" name="id" value="{{payway.id}}">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
			<tr>
				<td width="100" class="bg_f8" align="right">支付名称：</td>
				<td>{{payway.name}}</td>
			</tr>
			<tr>
				<td class="bg_f8" align="right">支付描述：</td>
				<td><input type="text" name="ptext" value="{{payway.ptext}}" class="inputall input600" /></td>
			</tr>
			<tr>
				<td class="bg_f8" align="right">是否启用：</td>
				<td>
					<select name="state" class="inputselect">

						{% for k,v in qt %}
						<option value="{{k}}" {% if k==payway.state %} selected {% endif %}>{{v}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>

			<tr>
				<td class="bg_f8" align="right">收款信息：</td>
				<td>

					<textarea name="config" style="width:600px;height:150px;">{{payway.config}}</textarea>
				</td>
			</tr>
			<tr>
				<td class="bg_f8">&nbsp;</td>
				<td><input type="submit" value="提 交" class="tjbtn"></td>
			</tr>
		</table>
	</form>
</div>
{% include("public/footer.html") %}