<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{title}} - {{setting.web_title}}</title>
    <meta name="keywords" content="{{setting.web_keywords}}" />
    <meta name="description" content="{{setting.web_description}}" />
    <link type="text/css" rel="stylesheet" href="{{url}}/css/style.css" />
    <style>
        .ad9801 {
            width: 980px;
            margin: 8px auto 0;
        }
    </style>
    <script type="text/javascript" src="{{public}}/js/jquery.js"></script>
    <script type="text/javascript" src="{{public}}/js/global.js"></script>
</head>

<body>
    <div class="pagetop">

        {% if login %}
        <div class="quick_menu">
            <p>
                <span class="fl">您好<a style="border:0px;padding:0px" href="/user/order" title="会员中心"><span
                            class="cred">{{session.name}}</span></a>， {{setting.web_title}}</span>
                <span class="fr">
                    <a href="/user/order" title="会员中心">会员中心</a>
                    <a href="/order/add" title="购物车" class="gwc">购物车 <span class="cred">{{cart_num}}</span> 件</a>
                    <a href="/order/plist" title="订单查询">订单查询</a>
                    <a href="/user/logout" title="退出" style="border:0">退出</a>
                </span>
            </p>
        </div>
        {% else %}

        <div class="quick_menu">
            <p>
                <span class="fl">您好，{{setting.web_title}}</span>
                <span class="fr">
                    <a href="/user/login" title="登录">登录</a>
                    <a href="/user/register" title="注册">注册</a>
                    <a href="/order/add" title="购物车" class="gwc">购物车 <span class="cred">{{cart_num}}</span> 件</a>
                    <a href="/order/plist" title="订单查询" style="border:0">订单查询</a>
                </span>
            </p>
        </div>

        {% endif %}

        <div class="width980">
            <div class="header" style="padding:10px 0">
                <div class="fl logo">
                    <a href="/" title="{{setting.web_title}}">
                        <img src="{{res}}/{{setting.web_logo}}" height="50" alt="{{setting.web_title}}" />
                    </a>
                </div>

                <div class="sear fl">
                    <form method="get" action="/plist/{{pid}}">
                        <div class="inputbg fl">
                            <input type="text" name="keyword" value="{{order.keyword}}" class="fl searinput c666" />
                        </div>
                        <input type="submit" class="fl sear_btn" onclick="this.form.submit();return false;"
                            value="搜索" />
                    </form>
                </div>
                <p class="top_tel fr">咨询热线：{{setting.web_phone}}</p>
            </div>
        </div>

        <div class="clear"></div>

        <div class="nav">
            <ul>
                <li class="sel"><a href="/" title="首页">首页</a></li>
                {% for v in cats %}
                <li><a href="/plist/{{v.id}}">{{v.catname}}</a></li>
                {% endfor %}
                <li class="sel"><a href="/page/16" title="关于我们">关于我们</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    {% for v in ads %}
    {% if v.position == 3 %}
    <div class="ad9801">
        {% if v.url is null %}
        <img src="{{res}}/ad/{{v.logo}}" width="980" height="80" />
        {%else%}
        <a href="{{v.url}}" target="_blank">
            <img src="{{res}}/ad/{{v.logo}}" width="980" height="80" />
        </a>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}