{% include("public/header.html") %}

<!-- content -->
<div class="width980">
    <div class="loginbox">
        <div class="logintt">
            <p>用户登录</p>
        </div>
        <div class="fl login_l">
            <form action="/user/login" method="post" id="form">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="60">用户名:</td>
                        <td><input type="text" name="name" class="input1" /><span id="user_name_show"></span></td>
                    </tr>

                    <tr>
                        <td>密　码:</td>
                        <td><input type="password" name="pw" class="input1" /><span id="user_pw_show"></span></td>
                    </tr>

                    <tr>
                        <td width="60">验证码:</td>
                        <td style="width: 0;">
                            <input class="input2" type="text" maxlength="6"
                                style="border: 1px #c5c5c5 solid;margin: 0; height: 30px;  line-height: 30px; border-radius: 2px;"
                                onkeyup="if(this.value!=this.value.toUpperCase()) this.value=this.value.toUpperCase()"
                                name="code" />
                        </td>

                        <td>
                            <img src="/user/register/vcode" class="authcode" style="cursor:pointer;left: 0px;" />
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="do_submit" class="btn_05" value="登 录" style="margin:0" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="fl login_zc">
            <p>如果您尚未注册，请先注册</p>
            <p class="login_lx"><a href="/user/register" title="注册">注册</a></p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">
    $(".authcode").click(function () {
        $(this).attr("src", $(this).attr("src") + '?time=' + new Date().getTime());
    });
</script>

{% include("public/footer.html") %}