<div class="now">您现在的位置：<a href="/">首页</a> > 会员中心 > {{title}}</div>
<div class="danye_left">
    <div class="danye_help">
        <div class="danye_tt"><s></s>会员中心</div>
        <div class="danye_list">
            <h3 class="fl_tb3"><s></s>交易管理</h3>
            <ul>
                <li class="fl_tb1"><a href="/user/order" {{get == 'order' ? 'class="sel"' : ''}}>我的订单</a></li>
            </ul>
            <h3 class="fl_tb5"><s></s>信息管理</h3>
            <ul>
                <li><a href="/user/collect" {{get == 'collect' ? 'class="sel"' : ''}}>我的收藏</a></li>
                <li><a href="/user/ask" {{get == 'ask' ? 'class="sel"' : ''}}>我的咨询</a></li>
                <li><a href="/user/comment" {{get == 'comment' ? 'class="sel"' : ''}}>我的评价</a></li>
            </ul>
            <h3 class="fl_tb4"><s></s>个人信息</h3>
            <ul>
                <li class="fl_tb1"><a href="/user/base" {{get == 'base' ? 'class="sel"' : ''}}>基本资料</a></li>
                <li class="fl_tb1"><a href="/user/pw" {{get == 'pw' ? 'class="sel"' : ''}}>修改密码</a></li>
            </ul>
        </div>
    </div>
</div>